@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.colunms {
  columns: 4 250px;
  column-rule: 3px solid #333;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.topic {
  margin-top: 0;
  background-color: #333;
  color: white;
  padding: 1rem;
  break-inside: avoid;
}

.quote {
  font-size: 3rem;
  text-align: center;
  color: #333;
  column-span: all;
}

.nowrap {
  white-space: nowrap;
}
