@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

/* block level elements vs inline level elements */

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
  margin: 0;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: #fff;
  text-decoration: none;
}

li a:hover,
li a:focus {
  text-decoration: underline;
}
