* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: 10px double red;
  font-size: 1.5rem;
  margin: 1.5em;
  padding: 1.5em;

  outline: 5px solid purple;
  outline-offset: -20px;
}

.circle {
  margin: 3rem auto;
  background-color: gold;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  outline: 2px solid red;
  outline-offset: 0.25rem;
}
